# Ignore ROS workspace directories
build/
install/
log/

# Ignore everything inside src
src/*

# Exclude beginner_tutorials package from being ignored
!src/beginner_tutorials/
!src/beginner_tutorials/**
